
<div class="container">

<h1 class=" title mt-5">Bienvenue sur AnguNode</h1>


<div class="card text-center mt-5 mb-5">

  <span class="border border-primary">

  <div class="card-header bg-primary text-light">
   <h2>Pour les développeurs Frontend, Backend et Fullstack</h2>
  </div>
  <div class="card-body">
    <p class="card-text">Renseigner le formulaire ci-dessous pour trouver le job qui vous convient</p>
    <div class="d-flex align-items-center">

      <hr>
      <app-search></app-search>
      <hr>

    </div>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>

  </span>

</div>

<app-search-result></app-search-result>

</div>

<!-- Footer -->
<footer class="page-footer bg-primary font-small special-color-dark pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
    EvilSpartans
  </div>
  <!-- Copyright -->

</footer>
